section {
position: relative;
width: 100%;
height: 140vh;
background: #ccc;
color: #121212;
font-family: 'Montserrat', sans-serif;
}
	section .servicio {
	position: relative;
	float: left;
	width: calc(100%/3);
	height: 70vh;
	padding: 0 3vw;
	}
	section .servicio div {
	overflow: hidden;
	width: 100%;
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: center;
	}
	section .servicio img {
	height: 70%;
	}
	section .servicio p {
	margin: 2vh 0;
	}
	section .servicio .tittle {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 1.7vw;
	color: #065b7b;
	}
	section .servicio .info {
	text-align: center;
	font-size: 1.3vw;
	}