header {
position: relative;
height: 60vh;
width: 100%;
margin: 0;
overflow: hidden;
}
	header img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 101%;
	z-index: -1;
	filter: brightness(50%);
	}
	header .container {
	position: absolute;
	height: auto;
	width: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	header .container p {
	text-align: center;
	width: 100%;
	padding: 1vh 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #fff;
	}
	header .container .tittle {
	font-size: 4vw;
	text-transform: uppercase;
	}

@media screen and (max-width: 900px) {
header {
height: 100vh;
}
	header img {
	height: 101%;
	width: auto;
	}
	header .container .tittle {
	font-size: 8vw;
	}
}
@media screen and (max-width: 600px) {
	header .container .tittle {
	font-size: 10vw;
	}
}
@media screen and (max-width: 500px) {
	header .container .tittle {
	font-size: 12vw;
	}
}