section
{
position: relative;
height: 100vh;
width: 100%;
}
	#fsd, #ssd
	{
	position: relative;
	float: left;
	width: calc(100%/2);
	height: 100%;
	}
	#fsd p
	{
	width: 100%;
	color: #000000;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 2.5px;
	}
	#fsd img
	{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 80%;
	}
	#ssd p:nth-child(1)
	{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	padding: 0 2vw;
	font-size: 20px;
	font-family: 'Montserrat',sans-serif;
	}
	#ssd p strong
	{
	font-family: 'Montserrat',sans-serif;
	}
	#ssd u
	{
	text-decoration: none;
	letter-spacing: 2.5px;
	font-family: 'Montserrat',sans-serif;
	}
#mision
{
position: relative;
height: 60vh;
width: 100%;
background-color: #F2F9FB;
}
	#mision div
	{
	position: relative;
	float: left;
	top: 50%;
	transform: translate(0, -50%);
	width: calc(100%/3);
	height: auto;
	}
	#mision p:nth-child(1)
	{
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	width: 100%;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    text-align: left;
    margin: 0 0 2.5vh 0;
    padding: 0 2vw;
    font-size: 30px;
	}
	#mision p:nth-child(2)
	{
	color: #625f5f;
	font-size: 20px;
	text-align: justify;
	padding: 0 2vw;
	font-weight: 400;
	font-family: 'Montserrat',sans-serif;
	}
@media screen and (max-width: 700px)
{
section
{
height: 200vh;
}
	#fsd, #ssd
	{
	position: relative;
	float: left;
	width: 100%;
	height: calc(100%/2);
	}
#mision
{
height: 130vh;
}
	#mision div
	{
	position: relative;
	float: left;
	top: 0;
	transform: none;
	width: calc(100%/2);
	height: calc(100%/2);
	}
	#mision p:nth-child(1)
	{
    margin: 2.5vh 0;
	}
}
@media screen and (max-width: 600px)
{
#mision
{
height: 150vh;
}
	#mision div
	{
	position: relative;
	float: left;
	top: 0;
	transform: none;
	width: 100%;
	height: calc(100%/3);
	}
	#mision p:nth-child(1)
	{
    margin: 2.5vh 0;
	}
}
@media screen and (max-width: 300px)
{
section
{
height: 280vh;
}
#mision
{
height: 230vh;
}
	#mision div
	{
	position: relative;
	float: left;
	top: 0;
	transform: none;
	width: 100%;
	height: calc(100%/3);
	}
	#mision p:nth-child(1)
	{
    margin: 2.5vh 0;
	}
}